body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
}

.producto {
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
